body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: white;
}

.navbar {
  background-color: black;
  padding: 15px 30px;
}

.logo {
  width: 120px;
}

.container {
  padding: 20px 40px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #222;
  padding: 15px;
  border-radius: 6px;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-title {
  font-size: 16px;
  font-weight: bold;
}

.movie-genre {
  font-size: 13px;
  color: #aaa;
}

.movie-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

